[news]
host = localhost
port = 4001
id = 13
symbol = CL
type = FUT
currency = USD
exchange = NYMEX
expiry = 201901
log = NORMAL
entry.spread = 0.05
tgt.spread = 0.2
trail.spread = 0.2
delta.adjust = 0.02
kill.time = 120
q = 1
time.adjust = 500

[theta]
host = localhost
port = 4001
id = 14
symbol = CL
type = FOP
trigger.delta = 0.5
trigger.gamma = 0.3

[data]
mkt.table = mktData

[optimiser]
gams = c:\\gams\\win64\\24.3\\
account= DU337774

mult=       1000
symbol=     CL
sectype=    FOP
currency=   USD
exchange=   NYMEX
trans.cost= 2.5

max.delta=  0.05
max.gamma=  0.30
min.theta=  0.20
min.vega=   0.20
max.speed=  0.01
alpha=        1

min.price=    0.05
max.price=    8.0
max.spread=  0.08

max.pos=      6
max.pos.tot=  40
max.pos.mon=  6
max.margin=   45000
max.trades=   20
min.days=     10